<h1>Sortiment</h1>
<div class="form-group">
  <a class="btn btn-primary" <%= link_to "Neues Produkt", new_product_path %></a>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Artikelnummer</th>
    <th scope="col">Bezeichnung</th>
    <th scope="col">Preis</th>
    <th scope="col">EK</th>
    <th scope="col">Lieferant</th>
    <th scope="col">Marke</th>
    <th scope="col">Bestand</th>
    <th scope="col">Bestellt</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each_with_index do |product, i| %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= product.Artikelnummer %></td>
      <td><%= product.Bezeichnung %></td>
      <td><%= product.Preis %> €</td>
      <td><%= product.EK %> €</td>
      <td><%= product.Lieferant %></td>
      <td><%= product.Marke %></td>
      <td><%= product.Bestand %></td>
      <td><%= product.Bestellt %></td>
      <td><%= link_to "Bearbeiten", edit_product_path(product), :class => 'btn btn-default' %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
