<h2><%= @stuff.Artikelnummer %></h2>
<p><%= @stuff.Bezeichnung %></p>
<p><%= @stuff.EK %></p>
<p><%= @stuff.Preis %></p>
<p><%= @stuff.Bestellt %></p>
<p><%= @stuff.Bestand %></p>
<p><%= @stuff.Lieferant %></p>
<p><%= @stuff.Marke %></p>
