<!DOCTYPE html>
<html>
  <head>
    <title>Supermarkt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#   gem 'coffee-script-source', '1.8.0'    %>
    <%#   bundle update coffee-script-source     %>

  </head>

  <body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" <%= link_to "Home", home_path %> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Sortiment", products_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Lieferanten", suppliers_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Bestellungen", orders_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Statistiken", statistics_path %></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" <%= link_to "Super-SEA-Supermarkt", home_path %></a>
      </form>
    </div>
  </nav>
  </div>

<div class="container">
  <%= yield %>
</div>

  </body>
</html>
